
/*End CSS pagging*/
#box_login {
     background: url("../images/border_left_bottom.png") no-repeat scroll left bottom transparent;
    float: left;
    padding-bottom: 17px;
    text-align: right;
    width: 250px;
    margin-bottom: -12px;
}
#box_login_left
{
    background: url("../images/border_left.png") no-repeat scroll left top #FFFFFF;
    padding-top: 17px;

}
#box_login_left .top {
    /* background: url("../images/border_topleft.png") no-repeat scroll center bottom transparent;*/
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -20px;
    text-align: center;
    text-transform: uppercase;
}

#box_login_left .content
{
    /*background: url("../images/bg_left.png") no-repeat scroll right bottom #FFFFFF;*/
    border: 1px solid #E9E9E9;
    border-top: none;
    margin-top: 19px;
    padding: 0 5px 0px;
    width: 237px;
}

#box_login_left .txt
{
   border: 1px solid #669A02; 
   height: 18px;
}
#box_login_left .line
{
   padding-bottom:5px
}
#box_login_left .loginerror{
display:none;
color:red;
}
#box_login_left #notiProcess
{
	display:none;
	color:#3366CC;
	text-align:center
}
